<!doctype html>
<html lang="pt-BR">

	<head>
		<meta charset="utf-8">

		<title>FrontEnd with AnguarJS</title>

		<meta name="description" content="Desenolvendo WebApps com AngularJS">
		<meta name="author" content="Vitor Leal">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">
		<link rel="stylesheet" href="css/theme/custom.css">

		<link rel="stylesheet" href="lib/css/zenburn.css">

    <script src="examples/js/angular.min.js"></script>

		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Criando WebApps</h1>
          <h3>Overview de desenvolvimento com <span class="show-off">AngularJS</span></h3>
          <p>
            <img src="examples/assets/angularjs.png">
          </p>
					<p>
						<small>
              <a href="http://vitorleal.com" target="_blank">Vitor Leal</a> - Telefonica Digital
            </small>
					</p>
				</section>

        <section>
          <h2>O que é o <span class="show-off">AngularJS</span></h2>
          <p>Um framework para criar aplicações web dinâmicas, de maneira rápida, testável e de fácil manutenção.</p>
        </section>

        <section>
          <h2>Princípios do <span class="show-off">AngularJS</span></h2>
          <ul>
            <li class="fragment">Desenvolvimento Rápido</li>
            <li class="fragment">Escrever menos código</li>
            <li class="fragment">Modularidade</li>
            <li class="fragment">Pensado para ser testado</li>
          </ul>
        </section>

        <section>
          <h2>O que o <span class="show-off">AngularJS</span> oferece</h2>
          <ul>
            <li class="fragment">Controllers</li>
            <li class="fragment">Templates</li>
            <li class="fragment">Two-Way data bindings</li>
            <li class="fragment">Services</li>
            <li class="fragment">Directives</li>
            <li class="fragment">Integração com REST</li>
            <li class="fragment">Injeção de dependencias</li>
            <li class="fragment">Transições (em CSS3)</li>
          </ul>
        </section>

        <section>
          <h2>Um exemplo bem simples</h2>
          <pre ng-non-bindable><code>
      &lt;!doctype html&gt;
      &lt;html ng-app&gt;
        &lt;head&gt;
          &lt;script src="../js/angular.min.js"&gt;&lt;/script&gt;
        &lt;/head&gt;
        &lt;body&gt;
          &lt;form&gt;
            &lt;label&gt;Seu nome?&lt;/label&gt;
            &lt;input type="text" ng-model="name" placeholder="Seu nome?"&gt;
          &lt;/form&gt;
          &lt;h3&gt;Meu nome é {{ name }}!&lt;/h3&gt;
        &lt;/body&gt;
      &lt;/html&gt;
          </code></pre>

          <div class="mt fragment">
            <hr>
            <!doctype html>
            <html ng-app>
              <body class="mt">
                <form>
                  <label>Seu nome?</label>
                  <input class="big-input" type="text" ng-model="name" placeholder="Escreva aqui!">
                </form>
                <h3 class="mt">Meu nome é <span class="show-off">{{ name }}</span>!</h3>
              </body>
            </html>
          </div>
        </section>

        <section>
          <h2>Model</h2>
          <p>O modelo da aplicação é representado pelo objeto <span class="show-off">$scope</span>,<br/> ele que liga a <i>View</i> e o <i>Controller</i>.</p>

          <div class="fragment">
            <p class="mt">
              myView.html
            </p>
            <pre ng-non-bindable><code>
              <input type="text" ng-model="name">
            </code></pre>

            <p class="mt">
              myController.js
            </p>
            <pre><code>
              function MyController($scope) {
                $scope.name = 'Vitor Leal';
              }
            </code></pre>

          </div>
				</section>

        <section>
					<h2>Controllers</h2>
          <p>São funções usadas para "aumentar" a instância do <span class="show-off">$scope</span>. Adicionando um valor ou um comportamento a um objeto.</p>
          <pre ng-non-bindable class="mt fragment"><code>
    function TodoCtrl($scope) {
      $scope.todos = [
        { text: 'Aprender AngularJS', done: true },
        { text: 'Criar um novo App', done: false }
      ];

      $scope.addTodo = function() {
        if ($scope.todoText) {
          $scope.todos.push({ text: $scope.todoText, done: false });
          $scope.todoText = '';
        }
      };
    };
          </code></pre>
				</section>

        <section>
          <h2>Views</h2>
          <p>As views no angular são simplesmente <span class="show-off">HTML5</span>.<br/>É onde toda a <i>presentation logic</i> deve estar.</p>

          <div class="fragment mt">
            <pre ng-non-bindable><code>
      &lt;div ng-controller="TodoCtrl"&gt;
        &lt;ul&gt;
          &lt;li ng-repeat="todo in todos"&gt;
            &lt;input type="checkbox" ng-model="todo.done"&gt;
            &lt;span class="done-{{ todo.done }}"&gt;{{ todo.text }}&lt;/span&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
        &lt;form ng-submit="addTodo()"&gt;
          &lt;input type="text" ng-model="todoText"&gt;
          &lt;button type="submit"&gt;Add&lt;/button&gt;
        &lt;/form&gt;
      &lt;/div&gt;
            </code></pre>
          </div>
				</section>

        <section>
          <h2>Resultado</h2>

          <!doctype html>
          <html ng-app>
            <body>
              <script>
                function TodoCtrl($scope) {
                  $scope.todos = [
                    { text: 'Aprender AngularJS', done: true },
                    { text: 'Criar um novo App', done: false }
                  ];

                  $scope.addTodo = function() {
                    if ($scope.todoText) {
                      $scope.todos.push({ text: $scope.todoText, done: false });
                      $scope.todoText = '';
                    }
                  };
                };
              </script>

              <div class="mt" ng-controller="TodoCtrl">
                <ul class="no-bullets">
                  <li ng-repeat="todo in todos">
                    <label>
                      <input type="checkbox" ng-model="todo.done" class="big-checkbox">
                      <span class="done-{{ todo.done }}">{{ todo.text }}</span>
                    </label>
                  </li>
                </ul>
                <form class="mt" ng-submit="addTodo()">
                  <input placeholder="add new task" class="big-input" type="text" ng-model="todoText">
                  <button class="big-button" type="submit">Add</button>
                </form>
              </div>
            </body>
          </html>
				</section>

        <section>
          <h2>Two-Way data binding</h2>
          <p>Data binding no angular funciona de maneira bi-directional, qualquer alteração na View se reflete no modelo e vice-versa.</p>
				  <img class="fragment img" src="examples/assets/One_Way_Data_Binding.png">
				  <img class="fragment img" src="examples/assets/Two_Way_Data_Binding.png">
        </section>

        <section>
          <h2>Referencias</h2>
          <ul>
            <li>
              <a href="http://angularjs.org/" target="_blank">AnguarJS</a>
            </li>
            <li>
              <a href="http://pivotal.github.io/jasmine/" target="_blank">Jasmine</a>
            </li>
            <li>
              <a href="http://karma-runner.github.io/" target="_blank">Karma</a>
            </li>
          </ul>
				</section>

        <section>
					<h1>Fim</h1>
          <img class="img" src="examples/assets/mustache.png">
					<p>
						<small>
              <a href="http://vitorleal.com" target="_blank">Vitor Leal</a> - Telefonica Digital
            </small>
					</p>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>
			Reveal.initialize({
				controls: true,
				progress: true,
				history : true,
				center  : true,
				theme       : Reveal.getQueryHash().theme,
				transition  : Reveal.getQueryHash().transition || 'default',
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});
		</script>
	</body>
</html>
