<!doctype html>
<html lang="pt-BR">

	<head>
		<meta charset="utf-8">

		<title>FrontEnd with AnguarJS</title>

		<meta name="description" content="Desenolvendo WebApps com AngularJS">
		<meta name="author" content="Vitor Leal">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">
		<link rel="stylesheet" href="css/theme/custom.css">

		<link rel="stylesheet" href="lib/css/zenburn.css">

    <script src="examples/js/angular.min.js"></script>

		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Criando WebApps</h1>
          <h3>Overview de desenvolvimento com <span class="show-off">AngularJS</span></h3>
          <p>
            <img src="examples/assets/angularjs.png">
          </p>
					<p>
						<small>
              <a href="http://vitorleal.com" target="_blank">Vitor Leal</a> - Telefonica Digital
            </small>
					</p>
				</section>

        <section>
          <h2>O que é o <span class="show-off">AngularJS</span></h2>
          <p>Um framework para criar aplicações web dinâmicas, de maneira rápida, testável e de fácil manutenção.</p>
        </section>

        <section>
          <h2>Princípios do <span class="show-off">AngularJS</span></h2>
          <ul class="fragment">
            <li>Desenvolvimento rápido</li>
            <li>Escrever menos código</li>
            <li>Modularidade</li>
            <li>Pensado para ser testado</li>
          </ul>
        </section>

        <section>
          <h2>O que o <span class="show-off">AngularJS</span> oferece</h2>
          <ul class="fragment">
            <li>Controllers</li>
            <li>Templates</li>
            <li>Two-Way data bindings</li>
            <li>Services</li>
            <li>Directives</li>
            <li>Integração com REST</li>
            <li>Injeção de dependências</li>
          </ul>
        </section>

        <section>
          <h2>Um exemplo bem simples</h2>
          <pre ng-non-bindable><code>
    &lt;!doctype html&gt;
    &lt;html ng-app&gt;
      &lt;head&gt;
        &lt;script src="js/angular.min.js"&gt;&lt;/script&gt;
      &lt;/head&gt;
      &lt;body&gt;
        &lt;form&gt;
          &lt;label&gt;Seu nome?&lt;/label&gt;
          &lt;input type="text" ng-model="name" placeholder="Seu nome?"&gt;
        &lt;/form&gt;
        &lt;h3&gt;Meu nome é {{ name }}!&lt;/h3&gt;
      &lt;/body&gt;
    &lt;/html&gt;
          </code></pre>

          <div class="hide-in-print mt fragment">
            <hr>
            <!doctype html>
            <html ng-app>
              <body class="mt">
                <form>
                  <label>Seu nome?</label>
                  <input class="big-input" type="text" ng-model="name" placeholder="Escreva aqui!">
                </form>
                <h3 class="mt">Meu nome é <span class="show-off">{{ name }}</span>!</h3>
              </body>
            </html>
          </div>
        </section>

        <section>
          <h2>Model</h2>
          <p>O modelo da aplicação é representado pelo objeto <br/><span class="show-off">$scope</span>, que liga a <i>View</i> e o <i>Controller</i>.</p>

          <div class="fragment">
            <p class="mt">
              myController.js
            </p>
            <pre><code>
  function MyController($scope) {
    $scope.name = 'Vitor Leal';
  }
            </code></pre>

            <p class="mt">
              myView.html
            </p>
            <pre ng-non-bindable><code>
  &lt;form ng-controller="MyController"&gt;
    &lt;input type="text" ng-model="name"&gt;
  &lt;/form&gt;
            </code></pre>
          </div>
				</section>

        <section>
					<h2>Controllers</h2>
          <p>São funções usadas para "aumentar" a instância do <span class="show-off">$scope</span>. Adicionando um valor ou um comportamento a um objeto.</p>
          <pre ng-non-bindable class="mt fragment"><code>
    function TodoCtrl($scope) {
      $scope.todos = [
        { text: 'Aprender AngularJS', done: true },
        { text: 'Criar um novo App', done: false }
      ];

      $scope.addTodo = function () {
        $scope.todos.push({ text: $scope.todoText, done: false });
        $scope.todoText = '';
      };
    };
          </code></pre>
				</section>

        <section>
          <h2>Views</h2>
          <p>As views no angular são simplesmente <span class="show-off">HTML5</span>.<br/>É onde toda a <i>presentation logic</i> deve estar.</p>

          <div class="fragment mt">
            <pre ng-non-bindable><code>
      &lt;div ng-controller="TodoCtrl"&gt;
        &lt;ul&gt;
          &lt;li ng-repeat="todo in todos"&gt;
            &lt;input type="checkbox" ng-model="todo.done"&gt;
            &lt;span&gt;{{ todo.text }}&lt;/span&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
        &lt;form ng-submit="addTodo()"&gt;
          &lt;input type="text" ng-model="todoText"&gt;
          &lt;button type="submit"&gt;Add&lt;/button&gt;
        &lt;/form&gt;
      &lt;/div&gt;
            </code></pre>
          </div>
				</section>

        <section>
          <h2>Resultado</h2>

          <!doctype html>
          <html ng-app>
            <body>
              <script>
                function TodoCtrl($scope) {
                  $scope.todos = [
                    { text: 'Aprender AngularJS', done: true },
                    { text: 'Criar um novo App', done: false }
                  ];

                  $scope.addTodo = function () {
                    if ($scope.todoText) {
                      $scope.todos.push({ text: $scope.todoText, done: false });
                      $scope.todoText = '';
                    }
                  };
                };
              </script>

              <div class="mt" ng-controller="TodoCtrl">
                <ul class="no-bullets">
                  <li ng-repeat="todo in todos">
                    <label>
                      <input type="checkbox" ng-model="todo.done" class="big-checkbox">
                      <span class="done-{{ todo.done }}">{{ todo.text }}</span>
                    </label>
                  </li>
                </ul>
                <form class="mt" ng-submit="addTodo()">
                  <input placeholder="add new task" class="big-input" type="text" ng-model="todoText">
                  <button class="big-button" type="submit">Add</button>
                </form>
                <small class="fragment mt">{{ todos | json }}</small>
              </div>
            </body>
          </html>
				</section>

        <section>
          <h2>Two-Way data binding</h2>
          <p>Data binding no angular funciona de maneira bi-direcional, qualquer alteração na <i>View</i> se reflete no <i>Model</i> e vice-versa.</p>
				  <img class="fragment img" src="examples/assets/One_Way_Data_Binding.png">
				  <img class="fragment img" src="examples/assets/Two_Way_Data_Binding.png">
        </section>

        <section>
          <h2>Herança de <span class="show-off">$scope</span></h2>
          <p>O <span class="show-off">$scope</span> de um <i>controller</i><br>é herdado em um <i>controller</i> filho.</p>
          <div class="fragment">
            <p class="mt">MyControllers.js</p>
            <pre ng-non-bindable><code>
  function ParentController($scope) {
    $scope.person = {
      name     : 'Vitor Leal',
      helloText: ''
    };
  };

  function ChildController($scope) {
    $scope.sayHello = function () {
      $scope.person.helloText = "Hi " + $scope.person.name;
    }
  };
            </code></pre>
          </div>
        </section>

        <section>
          <h2>Herança de <span class="show-off">$scope</span> <small>2</small></h2>
          <p class="mt">MyView.html</p>
          <pre ng-non-bindable><code>
  &lt;div ng-controller="ParentController"&gt;
    &lt;form ng-controller="ChildController"&gt;
      &lt;input type="text" ng-model="person.name" placeholder="Name"&gt;
      &lt;button ng-click="sayHello()"&gt;Say hello&lt;/button&gt;
    &lt;/form&gt;
    &lt;p&gt;{{ person.helloText }}&lt;/p&gt;
  &lt;/div&gt;
          </code></pre>

          <div class="fragment mt">
            <!doctype html>
            <html ng-app>
              <head>
                <script>
                  function ParentController($scope) {
                    $scope.person = {
                      name     : 'Vitor Leal',
                      helloText: ''
                    };
                  };

                  function ChildController($scope) {
                    $scope.sayHello = function () {
                      $scope.person.helloText = "Hi " + $scope.person.name;
                    }
                  };
                </script>
              </head>
              <body>
                <div ng-controller="ParentController">
                  <form ng-controller="ChildController">
                    <input class="big-input" type="text" ng-model="person.name" placeholder="Name"></input>
                    <button class="big-button" ng-click="sayHello()">Say hello</button>
                  </form>
                  <p class="mt">preson.helloText = <span class="show-off">{{ person.helloText }}</span></p>
                </div>
              </body>
            </html>
          </div>
        </section>

        <section>
          <h2>Services</h2>
          <p>São objetos que executam tarefas específicas e que são controlados pela injeção de depêndencias.</p>
          <ul class="mt fragment">
            <li>$http (ajax)</li>
            <li>$locale</li>
            <li>$timeout</li>
            <li>$filter</li>
          </ul>
				</section>

        <section>
          <h2>$http</h2>
          <p>O <i>service</i> <span class="show-off">$http</span> facilita a comunicação com APIs.</p>
          <p>Principais métodos: .get, .post, .put, .delete, .jsonp</p>
          <pre class="mt" ng-non-bindable><code>
    $http.get('http://endereco.da/api')
      .success(successCallback)
      .error(errorCallback);

    $http.post('http://endereco.da/api', data)
      .success(successCallback)
      .error(errorCallback);
          </code></pre>
				</section>

        <section>
          <h3>$http - exemplo</h3>
          <pre ng-non-bindable><code>
    function BeerController($scope, $http) {
      $scope.makeRequest = function () {
        $http.jsonp('http://api.openbeerdatabase.com/v1/beers.json')
          .success(function (data, status) {
            $scope.beers = data.beers;
          })
          .error(function () {
            $scope.beers = [{ name: "No beer for you :(" }]
          });
      };
    };
          </code></pre>
          <pre ng-non-bindable><code>
    &lt;div ng-controller="BeerController"&gt;
      &lt;ul&gt;
        &lt;li ng-repeat="beer in beers | limitTo:15"&gt;
          {{ beer.name }} - {{ beer.brewery.name }}
        &lt;/li&gt;
      &lt;/ul&gt;
      &lt;button ng-click="makeRequest()"&gt;Get beers&lt;/button&gt;
    &lt;/div&gt;
          </code></pre>
				</section>

        <section>
          <h2>$http - Resultado</h2>

          <div class="mt">
            <!doctype html>
            <html ng-app>
              <body>
                <script>
                  function BeersController($scope, $http) {
                    $scope.makeRequest = function () {
                      $http.jsonp('http://api.openbeerdatabase.com/v1/beers.json?callback=JSON_CALLBACK')
                        .success(function (data, status) {
                            $scope.beers = data.beers;
                        })
                        .error(function () {
                          $scope.beers = [{ name: "No beer for you :(" }]
                        });
                    };
                  };
                </script>
                <div ng-controller="BeersController">
                  <ul class="beer-list">
                    <li ng-repeat="beer in beers | limitTo:15">
                      <span class="show-off">{{ beer.name }}</span>
                      <span class="beer-brewery">{{ beer.brewery.name }}</span>
                    </li>
                  </ul>
                  <p class="mt">
                    <button class="big-button" ng-click="makeRequest()">Get beers</button>
                  </p>
                </div>
              </body>
            </html>
          </div>
				</section>

        <section>
          <h2>Modules</h2>
          <p>No angular voce utiliza o <i class="show-off">"module"</i> para especificar <br>como um aplicativo deve ser inicializado.</p>

          <pre class="mt" ng-non-bindable><code>
    var app = angular.module('myApp', ['third-part-module']);

    app.config(function () { ... });     <!-- Configurações -->
    app.controller('myController', ...); <!-- Criando um controller -->
    app.service('myService', ...);       <!-- Criando um service -->
          </code></pre>

          <pre class="mt" ng-non-bindable><code>
    &lt;html ng-app="myApp"&gt;
      ...
    &lt;/html&gt;
          </code></pre>
				</section>

        <section>
					<h2>Routes</h2>
          <p>Em apps mais complexos utilize o <i class="show-off">$routeProvider</i> do angular, para definir qual <i>controller</i> e <i>template</i> deve ser utilizdo para cada <i>path</i>.</p>
          <pre class="fragment" ng-non-bindable><code>
  var app = angular.module('myApp');

  app.config(function ($routeProvider) {
    $routeProvider
      .when('/', {
        controller :'mainController', templateUrl :'/views/index.html'
      })
      .when('/newPost/', {
        controller :'newPostController', templateUrl :'/views/newPost.html'
      })
      .when('/posts/:id', {
        controller :'postsController', templateUrl :'/views/posts.html'
      })
      .otherwise({ redirectTo : '/' });
    });
          </code></pre>
				</section>


        <section>
          <h2>Directives</h2>
          <blockquote>"Ensine novos truques ao HTML"</blockquote>
          <ol class="mt fragment">
            <li>Crie atributos customizados para tags HTML</li>
            <li>Crie tags HTML customizadas<br/><small>(baseado na especificação <i class="show-off">webcomponents</i> da W3C)</small></li>
          </ol>
				</section>

        <section>
          <h2>Directives <small>2</small></h2>
          <p>Todos os atributos que iniciam com <span class="show-off">"ng"</span> <br/>são <i>directives</i> criadas pelo Angular.</p>
          <ul class="mt fragment">
            <li>ng-app</li>
            <li>ng-controller</li>
            <li>ng-model</li>
            <li>ng-repeat</li>
            <li>ng-click</li>
            <li>ng-view</li>
            <li>entre muitas outras</li>
          </ul>
				</section>

        <section>
          <h2>Directives <small>3</small></h2>
          <p>Exemplo de <i>directives</i> sendo utilizadas</p>
          <pre ng-non-bindable class="mt"><code>
      &lt;!doctype html&gt;
      &lt;html ng-app="myApp"&gt;
        &lt;head&gt;
          &lt;script src="../js/angular.min.js"&gt;&lt;/script&gt;
        &lt;/head&gt;
        &lt;body&gt;
          &lt;ul ng-controller="myListController"&gt;
            &lt;li ng-repeat="item in items"&gt;
              {{ item.name }}
            &lt;/li&gt;
          &lt;/ul&gt;
        &lt;/body&gt;
      &lt;/html&gt;
          </code></pre>
				</section>

        <section>
          <h2>Directives <small>4</small></h2>
          <p>Você pode criar sua própria <i>directive</i>.</p>
          <ul class="mt fragment">
            <li>
              <strong>elemento</strong>: <span class="show-off">&lt;my-directive>&lt;/my-directive&gt;</span>
            </li>
            <li class="mt">
              <strong>atributo</strong>: <span class="show-off">&lt;span my-directive="value"&gt;&lt;/span&gt;<span class="show-off">
            </li>
            <li class="mt">
              <strong>class</strong>: <span class="show-off">&lt;span class="my-directive: value;"&gt;&lt;/span&gt;<span class="show-off">
            </li>
            <li class="mt">
              <strong>comentário</strong>: <span class="show-off">&lt;!-- directive: my-directive value --&gt;<span class="show-off">
            </li>
          </ul>
				</section>

        <section>
          <h2>Directives <small>5</small></h2>
          <pre ng-non-bindable><code>
    var app = angular.module('myApp');

    app.directive('myDirective', function () {
      return {
        restrict: 'EA',
        link: function ($scope, element) {
          element.text('Text from directive');
        }
      };
    });
          </code></pre>

          <pre ng-non-bindable><code>
    &lt;my-directive&gt; &lt;/my-directive&gt;  <!-- Directive como um elemento -->

    &lt;div my-directive&gt; &lt;/div&gt;       <!-- Directive como um atributo -->
          </code></pre>
        </section>

        <section>
          <h2>Directives <small>6</small></h2>
          <pre ng-non-bindable><code>
    var app = angular.module('myApp');

    app.directive('myDirective', function () {
      return {
        restrict: 'E',
        replace:  true,
        template: '<h1 class="title"></h1>'
        link: function ($scope, element) {
          element.text('Text from directive');
        }
      };
    });
          </code></pre>

          <pre ng-non-bindable><code>
    &lt;my-directive&gt; &lt;/my-directive&gt;             <!-- Nossa tag customizada -->

    &lt;h1 class="title"&gt;Text from directive&lt;/h1&gt; <!-- Se converte no template -->
          </code></pre>
        </section>

        <section>
          <h2>Testando seu App</h2>
          <p>Um framework criado com o intuito de ser facilmente testado</p>
          <div class="fragment mt">
            <h4>Ferramentas recomendadas:</h4>
            <ul class="mt">
              <li><span class="show-off">Karma</span> <small>Test runner</small></li>
              <li><span class="show-off">Jasmine</span> <small>Test framework</small></li>
            </ul>
          </div>
        </section>

        <section>
          <h2>Testando Controllers</h2>
          <pre ng-non-bindable><code>
  describe('Testing Controller', function () {
    var ctrl, scope;

    beforeEach(angular.mock.module('myApp'));

    beforeEach(inject(function ($controller, $rootScope) {
      scope = $rootScope.$new();
      ctrl  = $controller('myController', { $scope: scope });
    }));

    it('should exist a controller called myController ', function() {
      expect(scope).not.toBeUndefined();
    });
  });
          </code></pre>
        </section>

        <section>
					<h2>Referências</h2>
          <ul>
            <li>Angular - <a href="http://angularjs.org/" target="_blank">http://angularjs.org/</a></li>
            <li>Karma   - <a href="http://karma-runner.github.io/" target="_blank">http://karma-runner.github.io/</a></li>
            <li>Jasmine - <a href="http://pivotal.github.io/jasmine/" target="_blank">http://pivotal.github.io/jasmine/</a></li>
          </ul>
        </section>

        <section>
					<h1>Fim</h1>
          <!-- <img class="img" src="examples/assets/mustache.png"> -->
					<p>
						<small>
              <a href="http://vitorleal.com" target="_blank">Vitor Leal</a> - Telefonica Digital
            </small>
					</p>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>
			Reveal.initialize({
				controls: true,
				progress: true,
				history : true,
				center  : true,
				theme       : Reveal.getQueryHash().theme,
				transition  : Reveal.getQueryHash().transition || 'default',
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});
		</script>
	</body>
</html>
